@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap');

:root {
    --font: "Poppins", sans-serif;
    --font-weight: 100;
    --bg-color: #2f2481;
    --text-color: #fff;
    --btn-color: #e14bcb;
    --font-weight: 100;
    --font-color: #fff;
    --font-family: "Poppins", sans-serif;
}

/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color);
    color: white;
    width: 100vw;
    z-index: 1001;
    position: fixed;
    border-bottom: 1px solid var(--text-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logoIMG {
    width: 5rem;
}

.menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 76px;
    left: 0;
    width: 100vw;
    background: var(--bg-color);
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 1px solid var(--font-color);
}

.nav-links.active {
    display: flex;
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        width: 60%;
        background: none;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        border-bottom: none;
    }
}


/* FOOTER */
.footer {
    background-color: var(--bg-color);
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--font-color);
}

.footer-section {
    width: 90%;
    max-width: 400px;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons img {
    height: 2rem;
}

.contact a, .legal a {
    color: white;
    text-decoration: none;
}

.copyright {
    margin-top: 20px;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row; 
        justify-content: space-between;
        flex-wrap: wrap; 
    }

    .footer-section {
        width: 20%;
        max-width: none;
        border-bottom: none;
        padding: 20px;
    }

    .copyright {
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }
}


/*INDEX*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--btn-color);
    padding-top: 76px;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid var(--font-color);
}

.banner {
    display: inline-block;
    white-space: nowrap;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    padding-left: 100%;
    animation: scroll-banner 10s linear infinite;
}

@keyframes scroll-banner {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
 
.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    border-bottom: 1px solid var(--text-color);
}

#heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2f2481;
}

.background-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.next-shows {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: black;
    padding: 1rem;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: black;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
}
  
@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }

    .hero {
        height: 100vh;
    }
}


/*SHOWS*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.shows {
    text-align: left;
    padding: 0rem 1rem;
    padding-top: 76px;
}

.shows-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.shows-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.show-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.show-item span {
    flex-grow: 1;
    text-align: left;
    padding-right: 2rem;
}

.tickets-btn {
    background: var(--btn-color);
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.more-dates {
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px) {
    .shows-grid {
        grid-template-columns: 1fr 1fr;
    }
}


/*MERCH*/
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
}

.merchandising {
    padding: 0rem 1rem;
    padding-top: 76px;
}

.merch-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 3rem;
}

.item {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 300px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 14rem;
    object-fit: contain;
}

.name {
    font-size: 1.2rem;
    margin: 0.5rem 0 0.2rem 0;
}

.price {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 0 auto;
        gap: 1rem;
    }

    .item img {
        max-width: 250px;
    }

    .placeholder {
        height: 200px;
    }

    h1 {
        font-size: 3rem;
    }
}

.size {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.size-option {
    padding: 12px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    width: 3em;
    height: 3em;
}

.size-option.active {
    background: white;
    color: black;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

#quantity {
    font-size: 1.2rem;
}

.add-to-cart {
    background: var(--btn-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 1.5rem;
}

.cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--btn-color);
    color: #1D1274;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.cart-window {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: white;
    color: #1D1274;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.checkout-btn {
    background: var(--btn-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container:hover .hover-overlay {
    opacity: 1;
}

.size-selector {
    display: flex;
    gap: 10px;
}

.size-option {
    padding: 10px;
    border: 1px solid white;
    color: white;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.size-option.active {
    background: white;
    color: black;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.quantity-selector button {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.quantity-selector span {
    color: white;
    font-size: 1.2rem;
}

.add-to-cart {
    background: var(--btn-color);
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart:hover {
    background: #e14bcb;
}


/*ABOUT US*/
.about {
    padding: 0rem 1rem;
    padding-top: 76px;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--font-color);
}

.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.about-body {
    display: flex;
    align-items: flex-start;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.text {
    width: 60%;
    padding: 1rem;
    font-size: 1rem;
}

.band {
    flex-direction: column;
}

.band img {
    width: 100%;
}

.band .text {
    width: 80%;
    font-size: 1.4rem;
    text-align: left;
}

.karmele, .mikel, .ekain, .leire, .alex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mikel, .ekain {
    flex-direction: row-reverse column-reverse;
}

.mikel img, .ekain img {
    width: 40%;
}

.mikel .text, .ekain .text {
    width: 60%;
}

.alex img, .leire img, .karmele img {
    width: 50%;
}

.mikel .text, .ekain .text, .alex .text, .leire .text, .karmele .text {
    width: 50%;
    font-size: 1rem;
    text-align: left;
}

.image-full {
    justify-items: center;
}

.image-full img {
    width: 80%;
}

.final {
    text-align: center;
    flex-direction: column;
}

.final .text-full {
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.final img {
    width: 100%;
}

@media (min-width: 768px) {
    .band img{
        width: 50%;
    }

    .band p{
        font-size: 2rem;
    }

    .band {
        display: flex;
        flex-direction: row;
    }

    .band .text {
        width: 50%;
    }

    .mikel, .ekain, .alex, .leire, .karmele{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .mikel .text, .ekain .text, .alex .text, .leire .text, .karmele .text{
        font-size: 1.6rem;
    }

    .final .text-full {
        font-size: 3rem;
    }
}


/*LISTEN NOW*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    text-align: center;
    overflow-x: hidden;
}

.listen-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid var(--text-color);
}

.shows {
    position: relative;
    min-height: 100vh;
}

.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    border-bottom: 1px solid var(--text-color);
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.logos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logos img {
    width: 15rem;
    height: auto;
}

@media (min-width: 768px) {
    .logos {
        flex-direction: row;
    }

    .logos img {
        width: 16rem;
    }
}